/* Figma Styles of your File */
:root {
    /* Colors */
    /* Fonts */
    --title-font-family: Kavoon-Regular, sans-serif;
    --title-font-size: 64px;
    --title-line-height: normal;
    --title-font-weight: 400;
    --title-font-style: normal;
    --title-font-family: NerkoOne-Regular, sans-serif;
    --title-font-size: 75px;
    --title-line-height: normal;
    --title-font-weight: 400;
    --title-font-style: normal;
  
    /* Effects */
  }
  