#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tabs {
  padding: 1rem;
  border: 1px solid #d1d5db;
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 1rem;
}
